.login {
  background: url('../../images/backlogin.jpg');
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
}

.container-login {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 150px auto;
  padding: 80px;
  width: 40%;
}

.text {
  color: #f7a100;
  font-family: Times New Roman , Times , serif;
  font-weight: 600;
}

.btn {
  background-color: #f7a100;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
}

.btn:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.btn:disabled:hover {
  background-color: red;
  cursor: not-allowed;
}

.input {
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  outline: none;
  padding: 10px;
  width: 300px;
}

.input:focus {
  border-color: #ff5100;
  outline: none;
}

.input:-webkit-autofill {
  transition: background-color , 5000s ease-in-out 0s;
}

.input:-webkit-autofill:focus {
  transition: background-color , 5000s ease-in-out 0s;
}

.input:-webkit-autofill:active {
  transition: background-color , 5000s ease-in-out 0s;
}

@media ( max-width : 992px ) {

  .login {
    background: url('../../images/login900.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
  }

  .container-login {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: 150px auto;
    padding: 80px;
    width: 100%;
  }

  .btn {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5rem;
    padding: 1rem;
  }

  .input {
    background-color: inherit;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    outline: none;
    padding: 10px;
    width: 350px;
  }

  .text {
    margin-bottom: 80px;
  }
}

@media ( max-width : 900px ) {

  .login {
    background: url('../../images/login900.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
  }

  .container-login {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px rgba(255, 255, 255, 0.342) solid;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 10px;
    width: 92%;
  }

  .btn {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding: 1rem;
  }

  .input {
    background-color: inherit;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    outline: none;
    padding: 20px;
    width: 300px;
  }

  .text {
    margin-bottom: 80px;
    margin-top: 20px;
  }
}
