.containerRecomend {
  margin-bottom: 30px;
  max-width: 100%;
  overflow: hidden;
}

.cardRecomend {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.cardRecomend2 {
  border-radius: 10px;
  min-width: 50vw;
  padding: 30px;
}

.recomendImg {
  width: 10rem;
}
